@import url('http://weloveiconfonts.com/api/?family=entypo');

body {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    margin: 0;
    color: black;
    background:url(../img/sfondo.png) center;
    background-attachment: fixed;
    font: 600 18px/20px 'Open Sans',sans-serif;
    text-align: center;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

header{ 
	margin: 0;
	background: url(../img/0.jpg) center;
	border-top:0px; 
	border-bottom:0px ;
	height: 6em;
	line-height: 6em; 
	width:100%;
	margin:0;
	padding:0;
}

.titolo
{
    color:black;
	letter-spacing: 3px;
	font-family: fantasy;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: overline;
}

content
{ 
	border:1px solid #666;
}

footer{	
	width:100%; 
	/*position:absolute;*/
	bottom:0;
	background-color:#333;
	height:auto;
	line-height:2em; 
	text-align:center;
    color:gray;
}
.sitename{
	padding-top:10px;
	padding-bottom:10px;
	width:100%;
}
.imgn img{
	width:200px;
	height:200px;
}
.sociale{
	background-color:#ddd; 
	width:100%;
	padding-top:30px;
	padding-bottom:30px;
	height:auto;
}
.social {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin: 0 10px;
  line-height: 50px;
  font-family: Entypo;
  font-size: 28px;
  text-align: center;
  color: #555;
  border-radius: 10px;
  background: #eee;
  overflow: hidden;
  cursor: pointer;
}

.social {
  box-shadow: rgb(210, 210, 210) 1px 1px,
    rgb(210, 210, 210) 2px 2px,
    rgb(211, 211, 211) 3px 3px,
    rgb(211, 211, 211) 4px 4px,
    rgb(211, 211, 211) 5px 5px,
    rgb(212, 212, 212) 6px 6px,
    rgb(212, 212, 212) 7px 7px,
    rgb(212, 212, 212) 8px 8px,
    rgb(213, 213, 213) 9px 9px,
    rgb(213, 213, 213) 10px 10px,
    rgb(214, 214, 214) 11px 11px,
    rgb(214, 214, 214) 12px 12px,
    rgb(214, 214, 214) 13px 13px,
    rgb(215, 215, 215) 14px 14px,
    rgb(215, 215, 215) 15px 15px,
    rgb(215, 215, 215) 16px 16px,
    rgb(216, 216, 216) 17px 17px,
    rgb(216, 216, 216) 18px 18px,
    rgb(216, 216, 216) 19px 19px,
    rgb(217, 217, 217) 20px 20px,
    rgb(217, 217, 217) 21px 21px,
    rgb(218, 218, 218) 22px 22px,
    rgb(218, 218, 218) 23px 23px,
    rgb(218, 218, 218) 24px 24px,
    rgb(219, 219, 219) 25px 25px,
    rgb(219, 219, 219) 26px 26px,
    rgb(219, 219, 219) 27px 27px,
    rgb(220, 220, 220) 28px 28px,
    rgb(220, 220, 220) 29px 29px,
    rgb(221, 221, 221) 30px 30px;
   text-shadow: rgb(226, 226, 226) 1px 1px,
    rgb(227, 227, 227) 2px 2px,
    rgb(227, 227, 227) 3px 3px,
    rgb(228, 228, 228) 4px 4px,
    rgb(229, 229, 229) 5px 5px,
    rgb(229, 229, 229) 6px 6px,
    rgb(230, 230, 230) 7px 7px,
    rgb(230, 230, 230) 8px 8px,
    rgb(231, 231, 231) 9px 9px,
    rgb(232, 232, 232) 10px 10px,
    rgb(232, 232, 232) 11px 11px,
    rgb(233, 233, 233) 12px 12px,
    rgb(233, 233, 233) 13px 13px,
    rgb(234, 234, 234) 14px 14px,
    rgb(235, 235, 235) 15px 15px,
    rgb(235, 235, 235) 16px 16px,
    rgb(236, 236, 236) 17px 17px,
    rgb(236, 236, 236) 18px 18px,
    rgb(237, 237, 237) 19px 19px,
    rgb(238, 238, 238) 20px 20px;
}
.imgn{
	border-top:2px inset;
	width:40%;
	margin-left:30%;
	margin-right:30%;
}
.autori{
	width:100%;
	padding-top:30px;
	padding-bottom:30px;
	height:auto;
	color:	#A9A9A9;
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

.active {
    background-color: #4CAF50;
}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:1000px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:1000px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

.testo{
   font-size:150%;
}

.title
{
	text-shadow: 3px 2px white;
}
.tbl
{
	overflow-x:auto;
	background-color:#88ceb4 ;
	margin-left:2%;
	margin-right:2%;
	box-shadow: 10px 10px 5px #888888;
	margin-bottom: 30px;
}
.a1
{
	font-size:150%;
	text-align: center;
	line-height: 1.8;
	overflow-x:auto;
	box-shadow: 10px 10px 5px #888888;
	background: #88ceb4;
	margin-left:2%;
	margin-right:2%;
	margin-top: 70px;
	margin-bottom: 30px;
	
}

.i1
{
	background: url(../img/7.jpg) center;
	background-position: center;
	background-repeat: no-repeat;
    background-attachment: fixed;
	min-height:600px;
	margin-left:2%;
	margin-right:2%;
    border-style:solid;
	box-shadow: 10px 10px 5px #888888;
}

.i2
{
	background: url(../img/5.jpg) center;
	background-position: center;
	background-repeat: no-repeat;
    background-attachment: fixed;
	min-height:400px;
	/*min-width:100%;*/
	margin-left:2%;
	margin-right:2%;
    border-style:solid;
	box-shadow: 10px 10px 5px #888888;
	margin-bottom: 30px;
}

.i3
{
	background: url(../img/6.jpg) center;
	background-position: center;
	background-repeat: no-repeat;
    background-attachment: fixed;
	min-height:400px;
	/*min-width:100%;*/
	margin-left:2%;
	margin-right:2%;
    border-style:solid;
	box-shadow: 10px 10px 5px #888888;
	margin-bottom: 30px;
}

.mod {
    width: 410px;
    height: 100%;
    margin: 0 auto;
    border-style: solid;
	box-shadow: 10px 10px 5px #888888;
}
.container
{
	width:90%;
	margin-top:0px;
	margin-left:5%;
	margin-right:5%;
	background:transparent;
	overflow-x:auto;
}
.mySlides
{
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 92px;
  padding: 80px 50px;
  text-align: center;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
}
.insetshadow{
  text-transform: uppercase;
  color: #2c2c2c;
  background-color: #88ceb4;
  letter-spacing: .05em;
  text-shadow: 4px 4px 0px #d5d5d5, 7px 7px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
 .deepshadow {
	color: 	black ;
	text-shadow: 0px -2px 3px white;
	font: 40px 'BlackJackRegular';
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 30px;
  }
 .txt
 {
	 background-color:#88ceb4;
	 border:2px;
	 margin-left: 1%;
	 margin-right: 1%;
	 box-shadow: 10px 10px 5px #888888;
	 margin-bottom: 30px;
 }
 .txt1
 {
	 background-color:#88ceb4;
	 border:2px;
	 margin-left: 1%;
	 margin-right: 1%;
	 box-shadow: 10px 10px 5px #888888;
	 margin-bottom: 30px;
	 padding:25px;
 }
 .slider {
  margin-left: 2%;
  margin-right: 2%;
  height: 100px;
  font-size: 40px;
  overflow-y: hidden; 
  background-color: #88ceb4;
  box-shadow: 10px 10px 5px #888888;
}
.teesto
{
	text-align:justify;
	color:black;
	font: 40px 'BlackJackRegular';
	margin-left: 1%;
	margin-right: 1%;
    text-shadow: 2px 2px 3px white;
}
 .occhio
 {
	color:black;
	font-size: 40px;
	margin-left: 1%;
	margin-right: 1%;
    text-shadow: 2px 2px 2px #d97d88;
 }
.slider div, .slider div p {
  margin: 0;
  padding: 0;
}

.slider div {
  animation: slide 15s 2s infinite;
}

@keyframes slide {
  0% { margin-top: 0; }
  25% { margin-top: -90px; }
  50% { margin-top: -240px; }
  75% { margin-top: -340px; }
  100% { margin-top: 0; }
}