body{

	margin:0;

	color:black;

background:url(../img/sfondo.png) center;
	background-attachment: fixed;

	font:600 16px/18px 'Open Sans',sans-serif;

}

*,:after,:before{box-sizing:border-box}

.clearfix:after,.clearfix:before{content:'';display:table}

.clearfix:after{clear:both;display:block}

a{color:inherit;text-decoration:none}



img {

    border-radius: 3px;

    width: 150px;

}



header{ 

	margin: 0;

	background: url(../img/0.jpg) center;

	border-top:0px; 

	border-bottom:0px ;

	height: 6em;

	line-height: 6em; 

	width:100%;

	margin:0;

	padding:0;

}



.titolo

{

	letter-spacing: 3px;

	font-family: fantasy;

	font-size: 40px;

	font-style: normal;

	font-variant: normal;

	font-weight: normal;

	text-decoration: overline;

}



content

{ 

	padding:0; 

	background:transparent;

	border:1px solid #666;

	width:80%; 

}



footer{

	width:100%; 

	position:absolute;

	background-color:#333;

	height:2em;

	line-height:2em; 

	text-align:left;

}



/* Remove margins and padding from the list, and add a black background color */

ul.topnav {

    list-style-type: none;

    margin: 0;

    padding: 0;

    overflow: hidden;

    background-color: #333;

}



/* Float the list items side by side */

ul.topnav li {float: left;}



/* Style the links inside the list items */

ul.topnav li a {

    display: inline-block;

    color: #f2f2f2;

    text-align: center;

    padding: 14px 16px;

    text-decoration: none;

    transition: 0.3s;

    font-size: 17px;

}



/* Change background color of links on hover */

ul.topnav li a:hover {background-color: #555;}



/* Hide the list item that contains the link that should open and close the topnav on small screens */

ul.topnav li.icon {display: none;}



.active {

    background-color: #4CAF50;

}



/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */

@media screen and (max-width:680px) {

  ul.topnav li:not(:first-child) {display: none;}

  ul.topnav li.icon {

    float: right;

    display: inline-block;

  }

}



/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */

@media screen and (max-width:680px) {

  ul.topnav.responsive {position: relative;}

  ul.topnav.responsive li.icon {

    position: absolute;

    right: 0;

    top: 0;

  }

  ul.topnav.responsive li {

    float: none;

    display: inline;

  }

  ul.topnav.responsive li a {

    display: block;

    text-align: left;

  }

}

#cookie {

  position: relative;

  top: 0;

  width: 100%;

  background-color: #000;

  opacity: 0.8;

  color: #DFDFDF;

  text-align: center;

}



#cookie p {

  padding: 6px;

  font-family: Tahoma;

  font-size: 12px;

}



#cookie a {

  color: #10ab07;

  text-decoration: underline;

}



#cookie a#close {

  font-weight: 900;

  color: #fff;

  text-decoration: none;

  background: #aaa;

  padding: 3px;

  -webkit-border-radius: 2px;

  -moz-border-radius: 2px;

  border-radius: 2px;

}


.container
{
	width:96%;
	margin-top:30px;
	margin-left:2%;
	margin-right:2%;
	background-color:none;
	overflow-x:auto;
	height:1200px;
}

/* Style the <hr> element */
hr {
    margin: auto;
    width: 40%;
}

.cron
{
	color:black;
	/*background-color:green;*/
	background: url(../img/2.jpg) center;
	text-shadow: 2px 2px white;
	width:100%;
	font-size:50px;
	height:300px;
	text-align:center;
	padding-top:20px;
	box-shadow: 0 20px 15px -15px gray;
}

.alert {
	box-shadow: 10px 10px 5px #888888;
    padding: 20px;
	font-size:22px;
	text-align:center;
    background-color: #f44336;
    color: white;
	margin-top: 10px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.uno
{
	text-shadow: 2px 2px white;
	box-shadow: 10px 10px 5px #888888;
	width:48%;
	float:left;
	background-color: green;
	margin-top:10px;
	margin-right: 1%;	
	font-size:30px;
	text-align:center;
	padding-top: 50px;
	padding-bottom: 50px;
	height:auto;
	border-radius: 5px;
}
.uno:hover
{
	background-color:#7CFC00;
	cursor:pointer;
}
.uno:active {
  transform: translateX(8px);
}
.due
{
	text-shadow: 2px 2px white;
	box-shadow: -10px 10px 5px #888888;
	width:48%;
	float:right;
	margin:auto;
	background-color:orange;
	margin-top:10px;
	font-size:30px;
	text-align:center;
	padding-top: 50px;
	padding-bottom: 50px;
	height:auto;
	border-radius: 5px;
}
.due:hover
{
	background-color:yellow;
	cursor:pointer;
}
.due:active {
  transform: translateX(-8px);
}
.tre
{
	text-shadow: 2px 2px white;
	box-shadow: 10px 10px 5px #888888;
	width:48%;
	float:left;
	background-color:  #00806e;
	margin-top:10px;
	margin-right: 1%;	
	font-size:30px;
	text-align:center;
	padding-top: 50px;
	padding-bottom: 50px;
	height:auto;
	border-radius: 5px;
}
.tre:hover
{
	background-color: #006e80;
	cursor:pointer;
}
.tre:active {
  transform: translateX(8px);
}
.match
{
	margin-top:210px;
	margin-left:2%;
	margin-right:2%;
	width:96%;
	height:450px;
	background-color:rgba(136,206,180,0.7);
	box-shadow: 10px 10px 5px #888888;
	overflow-x	:auto;
	text-align:center;
}
.match p
{
	padding-top:5px;
	text-align:center;
	font: 40px 'Arial Black';
	color:black;
	text-shadow: 3px 3px 0px rgba(63,107,169, 0.5)
}
.scontro
{
	overflow-x	:auto;
	text-align:center;
	width:60%;
	margin-left:20%;
	margin-right:20%;
	background-color:rgba(136,206,180,0.6);;
}
.casa
{
	float:left;
	width:150px;
	height:150px;
	border-radius:50%;
	background-color:none;
	margin-top:20px;
	margin-bottom:20px;
	margin-left:50px;
}
.casa img
{
	width:150px;
	height:150px;
	border-radius:50%;
	border-style:solid;
	border-color:green;
}
.ospite img
{
	width:150px;
	height:150px;
	border-radius:50%;
	border-style:solid;
	border-color:green;
}
.ospite
{
	float:right;
	width:150px;
	height:150px;
	border-radius:50%;
	background-color:none;
	margin-top:20px;
	margin-bottom:20px;
	margin-right:50px;
}
.vs
{
	width:100px;
	height:100px;
}
.name
{
	color:black;
	font: 30px 'Tahoma';
    text-transform: uppercase;
	margin-left: 1%;
	margin-right: 1%;
    text-shadow: 2px 2px 3px green;
    letter-spacing: 2px;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 45px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    text-align: center;
    font-size: 22px;
    letter-spacing: 0.09em;
    text-shadow: 3px 3px 3px #0a0a0a;
}

.modal-body {
    padding: 2px 16px;
	height:auto;
    background-color: #dee6e6;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    height:20px;
}
.tbll
{	margin-top: 5%;
	margin-bottom: 5%;
    width: 100%;
	overflow-x:auto;
	overflow-y:auto;
	border-style:solid;
	border-color:green;
}
.th1, .td1 {
    text-align:  center;
	background-color: #5cb85c;
	color:white;
    padding: 8px;
	font-size:21px;
    text-shadow: 3px 3px 3px #0a0a0a;
}
.tr1
{
	background-color: #f2f2f2;
	}

.th1{
    background-color: #4CAF50;
    color: white;
}