body{
	margin:0;
	color: yellow;
	background:url(../img/0.jpg) center;
	background-attachment: fixed;
	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before
{
	box-sizing:border-box
}

a
{
	color:inherit;
	text-decoration:none
}


header{ 
	border-top:5px solid #333; 
	border-bottom:0px dotted #333;
	height: 6em;
	line-height: 6em; 
	width:100%;
	margin:0;
	padding:0;
}

container{ 
	margin:2em auto;
	padding:0; 
	background:transparent;
	border:1px solid #666;
	width:80%; 
}

footer{
	width:100%; 
	position:absolute;
	bottom:0;
	background-color:#333;
	height:2em;
	line-height:2em; 
	text-align:left;
}

.errore
{
	display:none;
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
}

#error{
    padding:5px;
    text-align:center;
    color:white;
    margin-bottom:5px;
}

.row{
	width:100%; 
	height:150px;
	background:#F5F5F5;
	border-width: 1px 0px 1px 0px;
	border-style: solid;
	border-color: blue none blue none;
}

.wrap{
	
	width:100%;
	margin:auto;
	max-width:700px;
	min-height:670px;
	position:relative;
	background:url(../img/login.png) no-repeat center;
}
.content{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 170px 50px 170px;
	background:rgba(170, 170, 170, 0.4);
	border: 5px solid black;
    border-radius: 10px 100px;
    box-shadow: 5px 5px 5px #333;
}

p
{
	color:white;
}

.reg
{
	color:yellow;
}
.content .title,
.campi .group .label,
.campi .group .button
{
	text-transform:uppercase;		/*TESTO MAIUSCOLO*/
}

.content .title{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}

.campi .group{
	margin-bottom:15px;
}

.campi .group .label,
.campi .group .input,
.campi .group .button{
	width:100%;
	color:#000;
	display:block;
}

.campi .group .input,
.campi .group .button{
	border:none;
	padding:15px 20px;
	border-radius:0px;
	background: rgba(255, 255, 255, 0.55);
}

.campi .group .label{
	color:white;
	font-size:12px;
}

.campi .group .button{
	  background: yellow;
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255, 255, 255, 0.52);
}

.foot-lnk{
	text-align:center;
}
.button
{
  cursor:pointer;
}
.button:active
{
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}