body{
	margin:0;
	color:black;
   background:url(../img/sfondo.png) center;
	background-attachment: fixed;
	font:600 16px/18px 'Open Sans',sans-serif;
	background-color: #b7bcb766;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

img {
    border-radius: 10px;
    width: 150px;
}

header{ 
	margin: 0;
	background: url(../img/0.jpg) center;
	border-top:0px; 
	border-bottom:0px ;
	height: 6em;
	line-height: 6em; 
	width:100%;
	margin:0;
	padding:0;
}

.titolo
{
	letter-spacing: 3px;
	font-family: fantasy;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	text-decoration: overline;
}

content
{ 
	padding:0; 
	background:transparent;
	border:1px solid #666;
	width:80%; 
}

footer{
	width:100%; 
	position:absolute;
	background-color:#333;
	height:2em;
	line-height:2em; 
	text-align:left;
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Float the list items side by side */
ul.topnav li {float: left;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

.active {
    background-color: #4CAF50;
}

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

.container{
	width:90%;
	height:1700px;
	text-align:center;
	background-color:rgba(0, 185, 7, 0.45);
	border-radius:4px;
	margin:0 auto;
	margin-top:50px;
    margin-left:5%;
	margin-right:5%;
	box-shadow: 10px 10px 5px #888888;
}
.container img{
	width:330px;
	height:300px;
	margin:0 auto;
	margin-top:-60px;
	margin-bottom:20px;
}
.info{
	width:300 px;
	font:18px;
	margin-bottom:20px;
	background-color: yellow;
}
.elegant {
        overflow-x:auto;
	font-size: 80px;
	padding: 80px 50px;
	text-align: center;
	text-transform: uppercase;
    color: #131313;
    background-color: #e7e5e4;
    letter-spacing: .15em;
    text-shadow: 
      1px -1px 0 #767676, 
      -1px 2px 1px #737272, 
      -2px 4px 1px #767474, 
      -3px 6px 1px #787777, 
      -4px 8px 1px #7b7a7a, 
      -5px 10px 1px #7f7d7d, 
      -6px 12px 1px #828181, 
      -7px 14px 1px #868585, 
      -8px 16px 1px #8b8a89, 
      -9px 18px 1px #8f8e8d, 
      -10px 20px 1px #949392, 
      -11px 22px 1px #999897, 
      -12px 24px 1px #9e9c9c, 
      -13px 26px 1px #a3a1a1, 
      -14px 28px 1px #a8a6a6, 
      -15px 30px 1px #adabab, 
      -16px 32px 1px #b2b1b0, 
      -17px 34px 1px #b7b6b5, 
      -18px 36px 1px #bcbbba, 
      -19px 38px 1px #c1bfbf, 
      -20px 40px 1px #c6c4c4, 
      -21px 42px 1px #cbc9c8, 
      -22px 44px 1px #cfcdcd, 
      -23px 46px 1px #d4d2d1, 
      -24px 48px 1px #d8d6d5, 
      -25px 50px 1px #dbdad9, 
      -26px 52px 1px #dfdddc, 
      -27px 54px 1px #e2e0df, 
      -28px 56px 1px #e4e3e2;
  }
  .home{
	  width:100%;
	  height:200px;
	  background-color:#88ceb4;
	  border-top-style: double;
	  border-top-width:5px;
  }
  .paesi{
	float:left;
	padding:3px;
	border-radius:4px;
    background: #f8f8f8;
    display: inline-block;
    cursor:pointer;
  }
  .squadra{
	float:right;
	padding:3px;
	border-radius:4px;
	background: #f8f8f8;
    display: inline-block;
  }
.modifica{
	width:200px;
	background:rgb(193, 193, 193);
	margin-top: 20px;
	margin-right: 15px;
	float:right;
	text-align:center;
	border-radius:30px;
	border-color:red;
	border-style: solid;
}
.modifica p{
	color:red;
	letter-spacing: 2px;
	margin-top: -20px;
    margin-bottom: 10px;
	font-weight:800;
}
.modifica img{
	height:150px;
	width:150px;
	cursor:pointer;
	margin-top: 20px;
}
.modifica img:active {
  box-shadow: 0 5px red;
  transform: translateY(4px);
}
.modifica2{
	width:200px;
	background:rgb(193, 193, 193);
	margin-top: 20px;
	margin-left: 15px;
	float:left;
	text-align:center;
	border-radius:30px;
	border-color:blue;
	border-style: solid;
}
.modifica2 p{
	color:blue;
	letter-spacing: 2px;
	margin-top: -20px;
    margin-bottom: 10px;
	font-weight:800;
}
.modifica2 img{
	height:150px;
	width:150px;
	cursor:pointer;
	margin-top: 20px;
}
.modifica2 img:active {
  box-shadow: 0 5px blue;
  transform: translateY(4px);
}
table{
	width:100%;
}
.dx{
	float:right;
	font-size: 35px;
	color: #2c2c2c;
    letter-spacing: .05em;
    text-shadow: 
      2px 2px 0px #d5d5d5, 
      5px 5px 0px rgba(0, 0, 0, 0.2);
}
.sx{
	font-size: 35px;
	float:left;
	color: #2c2c2c;
    letter-spacing: .05em;
    text-shadow: 
      2px 2px 0px #d5d5d5, 
      5px 5px 0px rgba(0, 0, 0, 0.2);
}
.sx input{
	height:50px;
	width:300px;
	font-size:25px;
}
.dx select{
	height:50px;
	width:300px;
	font-size: 25px;
}
.ok {
	text-align: center;
	float:center;	
	border-bottom-style: double;
	border-bottom-width:5px;
	width:100%;
	background-color:#88ceb4;
}
.ok img{
	color: white;
	background:url(img/tik.png) ;
	cursor:pointer;
	width:100px;
	height:100px;	
}
.ok img:active{
	box-shadow: 0 5px green;
	transform: translateY(4px);
}
.dati{
	margin-top:10px;
	 width:100%;
	 height:auto;
	 background-color:none;
	 border-top-width:5px;
}

.score{
	text-align:left;
	color:white;
	padding: 25px;
}
.score td {
    text-align: left;
    padding: 8px;
	font-size:40px;
}
.score td:first-child {
	color: black;
	text-shadow: 3px 2px white;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-size:50px;
	}
.score tr:nth-child(even){background-color: #5474bd;}
.score tr:nth-child(odd){background-color: #33629a;}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 75px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 8px 150px;}

.modal-footer {
	margin-top: 20px;
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
.button
{
	margin-top: 10px;
	margin-bottom: 10px;
    background-color: blue; 
    border: none;
	border-radius:25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button:hover {
	cursor:pointer;
	background-color:#6495ED;
}
.button:active {
  background-color: #6495ED;
  box-shadow: 5px 0 #666;
  transform: translateX(-4px);
}
.label
{
	margin-top: 20px;
	color: black;
	font-weight: bold;
	display: block;
	width: 100%;
}
.input{
	width: 100%;
    max-width: 400px;
    padding: 12px 20px;
    box-sizing: border-box;
	text-align:center;
}
#errore{
    width: 100%;
	font-family: 'Montserrat', sans-serif;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    color: white;
    border-radius: 10px;
    margin-bottom: 5px;
	margin:auto;
}
#msg{
    width: 100%;
	font-family: 'Montserrat', sans-serif;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    border-radius: 10px;
    margin-bottom: 5px;
	margin:auto;
}
.ui-widget-header,.ui-state-default, ui-button {
            background:#b9cd6d;
            border: 1px solid #b9cd6d;
            color: #FFFFFF;
            font-weight: bold;
			margin:auto;
}
#select-wrapper {
    background: url(http://s10.postimg.org/4rc0fv8jt/camera.png) no-repeat;
    background-size: cover;
    display: inline-block;
    position: auto;
    width: 65px;
    height: 50px;
}
#Avatar {
	position: 0 auto;
    width:65px;
    height: 50px;
    margin-left: 0px;
    opacity: 0;
    filter: alpha(opacity=0); /* IE 5-7 */
}
#Caricaimg
{
		display:inline-block;
		border-radius: 10px;
		background-color: Green;
		border: 0;
		color: white;
		font-weight: bold;
		padding: 6px 15px 5px;
		cursor: pointer;
}