body{

	margin:0;
    background:url(../img/sfondo.png) center;
	color:black;
	background-attachment: fixed;
	font:600 16px/18px 'Open Sans',sans-serif;

}

*,:after,:before{box-sizing:border-box}

.clearfix:after,.clearfix:before{content:'';display:table}

.clearfix:after{clear:both;display:block}

a{color:inherit;text-decoration:none}



img {

    border-radius: 3px;

    width: 150px;

}



header{ 

	margin: 0;

	background: url(../img/0.jpg) center;

	border-top:0px; 

	border-bottom:0px ;

	height: 6em;

	line-height: 6em; 

	width:100%;

	margin:0;

	padding:0;

}



.titolo

{

	letter-spacing: 3px;

	font-family: fantasy;

	font-size: 40px;

	font-style: normal;

	font-variant: normal;

	font-weight: normal;

	text-decoration: overline;

}



content

{ 

	padding:0; 

	background:transparent;

	border:1px solid #666;

	width:80%; 

}



footer{

	width:100%; 

	position:absolute;

	background-color:#333;

	height:2em;

	line-height:2em; 

	text-align:left;

}



/* Remove margins and padding from the list, and add a black background color */

ul.topnav {

    list-style-type: none;

    margin: 0;

    padding: 0;

    overflow: hidden;

    background-color: #333;

}



/* Float the list items side by side */

ul.topnav li {float: left;}



/* Style the links inside the list items */

ul.topnav li a {

    display: inline-block;

    color: #f2f2f2;

    text-align: center;

    padding: 14px 16px;

    text-decoration: none;

    transition: 0.3s;

    font-size: 17px;

}



/* Change background color of links on hover */

ul.topnav li a:hover {background-color: #555;}



/* Hide the list item that contains the link that should open and close the topnav on small screens */

ul.topnav li.icon {display: none;}



.active {

    background-color: #4CAF50;

}



/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */

@media screen and (max-width:680px) {

  ul.topnav li:not(:first-child) {display: none;}

  ul.topnav li.icon {

    float: right;

    display: inline-block;

  }

}



/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */

@media screen and (max-width:680px) {

  ul.topnav.responsive {position: relative;}

  ul.topnav.responsive li.icon {

    position: absolute;

    right: 0;

    top: 0;

  }

  ul.topnav.responsive li {

    float: none;

    display: inline;

  }

  ul.topnav.responsive li a {

    display: block;

    text-align: left;

  }

}
.border
{
	width:100%;
	border-top: thick double black;
}
.container
{
	width:96%;
	overflow-x:auto;
	margin-left: 2%;
	margin-top: 2%;
	margin-right: 2%;
	margin-bottom: 2%;
}

.button {	
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: -35px;
  margin-left: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: ' 0ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-left: 25px;
}

.button:hover span:after {
  opacity: 1;
  left: 0;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.username
{
	background-color:#74bb77;
	font-size:45px;
	color:white;
	text-shadow: 3px 3px 0px black;
}
.rivale
{
	background-color:#148418;
	font-size:50px;
	color:white;
	text-shadow: 3px 3px 0px black;
}
.rivale2
{
	background-color:#148418;
	font-size:50px;
	color:white;
	text-shadow: 3px 3px 0px black;
	text-align:center;
}
.type
{
	background-color:#4CAF50;
	font-size:40px;
	color:white;
	text-shadow: 3px 3px 0px black;
}
.type1
{
	background-color:#55c559;
	font-size:40px;
	color:white;
	text-shadow: 3px 3px 0px black;
}
.giocatore1
{
	background-color:#f5f5f5;
	font-size:25px;
}
.giocatore2
{
	background-color:white;
	font-size:25px;
}
.giocatore1:hover{background-color:white;}
.giocatore2:hover{background-color:#f5f5f5;}
tr{background-color:#f5f5f5;}