body{

	margin:0;
    background:url(../img/sfondo.png) center;
	color:black;
	background-attachment: fixed;
	font:600 16px/18px 'Open Sans',sans-serif;

}

*,:after,:before{box-sizing:border-box}

.clearfix:after,.clearfix:before{content:'';display:table}

.clearfix:after{clear:both;display:block}

a{color:inherit;text-decoration:none}



img {

    border-radius: 3px;

    width: 150px;

}



header{ 

	margin: 0;

	background: url(../img/0.jpg) center;

	border-top:0px; 

	border-bottom:0px ;

	height: 6em;

	line-height: 6em; 

	width:100%;

	margin:0;

	padding:0;

}



.titolo

{

	letter-spacing: 3px;

	font-family: fantasy;

	font-size: 40px;

	font-style: normal;

	font-variant: normal;

	font-weight: normal;

	text-decoration: overline;

}



content

{ 

	padding:0; 

	background:transparent;

	border:1px solid #666;

	width:80%; 

}



footer{

	width:100%; 

	position:absolute;

	background-color:#333;

	height:2em;

	line-height:2em; 

	text-align:left;
	
	left:0px;

}



/* Remove margins and padding from the list, and add a black background color */

ul.topnav {

    list-style-type: none;

    margin: 0;

    padding: 0;

    overflow: hidden;

    background-color: #333;

}



/* Float the list items side by side */

ul.topnav li {float: left;}



/* Style the links inside the list items */

ul.topnav li a {

    display: inline-block;

    color: #f2f2f2;

    text-align: center;

    padding: 14px 16px;

    text-decoration: none;

    transition: 0.3s;

    font-size: 17px;

}



/* Change background color of links on hover */

ul.topnav li a:hover {background-color: #555;}



/* Hide the list item that contains the link that should open and close the topnav on small screens */

ul.topnav li.icon {display: none;}



.active {

    background-color: #4CAF50;

}



/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */

@media screen and (max-width:680px) {

  ul.topnav li:not(:first-child) {display: none;}

  ul.topnav li.icon {

    float: right;

    display: inline-block;

  }

}



/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */

@media screen and (max-width:680px) {

  ul.topnav.responsive {position: relative;}

  ul.topnav.responsive li.icon {

    position: absolute;

    right: 0;

    top: 0;

  }

  ul.topnav.responsive li {

    float: none;

    display: inline;

  }

  ul.topnav.responsive li a {

    display: block;

    text-align: left;

  }

}
.border
{
	width:100%;
	border-top: thick double black;
}
.container
{
	width:96%;
	margin-left:2%;
	margin-right:2%;
	/*background-color:#88ceb4;*/
	margin-top: 20px;
	padding-top: 10px;

}

.button {	
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: -35px;
  margin-left: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: ' 0ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-left: 25px;
}

.button:hover span:after {
  opacity: 1;
  left: 0;
}
.formazione
{
	background-color:#88ceb4;
	width:100%;
	float:center;
	overflow:auto;
	text-align:center;
	box-shadow: 10px 10px 5px #888888;
	padding-bottom:5%;
	padding-top:5%;
	height:330px;
}
.formazione h1
{
	color:black;
	text-shadow: 0px 3px 1px white;
	font: 40px 'Verdana';
	margin-left: 1%;
	margin-right: 1%;
}
.tabimg td
{
	padding-top: 15px;
}
.tabimg{
	text-align:center;
	overflow-x:auto;
	float:left; 
	width:100%;
	padding-top: 20px;
	padding-bottom: 15px;
}
.tabimg img{
	max-height:200px;
	max-width:400px;
}
.tabimg img:hover{
	cursor:pointer;
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.type{
	margin-right:15px;
	margin-left: 15px;
    display:inline-blockblock;
}
.posizione{
	background-color:#7db4e0;
	width:100%;
	float:center;
	text-align:center;
	padding:15px;
}
.posizione h3
{
	text-align:left;
	padding-left:10px;
	text-shadow: 1px 3px 0px black;
	font: 30px 'Verdana';
	color:white;
}
.portier{
	padding-left: 20px;
    padding-right: 20px;
	padding-bottom: 20px;
}
.players
{
	width:30%;
	margin-left:35%;
	margin-right:35%;
	float:center;
	height:auto;
	background-color:#4CAF50;
	box-shadow: 10px 10px 5px #888888;
	border-radius:50px;
}
.players h1
{
	color: white;
	text-shadow: 0px -2px 3px black;
	font: 50px 'BlackJackRegular';
	text-align:center;
	margin-left: 1%;
	margin-right: 1%;
}
.players h2
{
	color: white;
	text-shadow: 0px -2px 3px black;
	font: 50px 'BlackJackRegular';
	text-align:center;
	margin-left: 1%;
	margin-right: 1%;
	cursor:pointer;
}
.players h2:hover
{
	color:red;
	font: 50px 'Verdana';
	text-shadow: 2px 3px 0px white;
}
input[type=checkbox]
{
	transform: scale(1.5);
	overflow: auto;
	font-size:32px;
	vertical-align:middle;
	cursor:pointer;
}
label
{
	cursor:pointer;
}
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 1s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	cursor:pointer;
    visibility: visible;
    opacity: 1;
}
.Modulo {
    display:block;
}
#Cancel{
	color:Red;
	font-size:20px;
	display:none;
}